<ul class="list-group">
    <li class="list-group-item title" style="background-color:#eee">
        Blog<%for(key in theme.menu){%> | <a style="display:inline;" href="<%- url_for(theme.menu[key])%>" ><%= key%></a> <%}%>
    </li>
    <% if (pagination == 2){ %>
    <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
    <% }) %>
    <% } %>
</ul>
            


